<!-- TODO: Prepare as hCard -->
<span class="user">
  <a class="name" href="mailto::<%=h user.email %>"><%=h user.name %></a> - 
  <%= link_to h(user.homepage), h(user.homepage), :class => 'homepage' %>
</span>
