<h1>Change this Tip</h1>

<%= render :partial => 'tip_edit', :locals => {:tip => @tip, :title => 'Update'} %>

<%= link_to 'Back to all Tips', tips_path %>

<%= link_to 'Show', @tip %> |
<%= link_to 'Back to all Tips', tips_path %>
